table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar a {
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
}
.navbar a:hover {
    text-decoration: none;
    color: rgb(170, 28, 28);
    font-size: large;
}

button {
    border-radius: 5px;
    padding: 10px;
    background-color: red;
    border: 0px;
}

.jumbotron {
    margin-top: 3vw;
}

.carousel {
    margin-top: 3vw;

    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    text-align: center;
    margin-top: 100px;
}

.card {
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 40px;
    margin-bottom: 0;
}

.badges {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}